<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.pmxota"
	android:versionName="0.6"
	android:versionCode="6">
      
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_LOGS" />
    
    <!--<application android:icon="@drawable/icon"
		android:label="@string/app_name">
        <activity android:name=".AndroHid"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".PlayerTab">
        </activity>

        <activity android:name=".VideoTab">
        </activity>

        <activity android:name=".PresenterTab">
        </activity>
        
        <activity android:name=".BtDevicePicker"
			android:label="@string/device_picker_title">
        </activity>

		<activity android:name=".Preferences">
		</activity>

    </application>-->
    <uses-sdk android:minSdkVersion="4"/>

	<application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBlackTheme">
        <activity
            android:name="com.example.pmxota.OTAActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.pmxota.SelectUpgradedFileActivity"
            android:label="@string/title_activity_select_file" >
        </activity>
        
        <activity android:name=".BtDevicePicker"
			android:label="@string/device_picker_title">
        </activity>
    </application>


</manifest> 
